.bikes-board-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bikes-board-items {
  width: 50%;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.015em;
}

.footer-container {
  width: 100%;
  text-align: center;
  position: fixed;
  display: block;
  background-color: #f3e5f5;
  height: 5.5%;
  bottom: 0;
}
