
.bikes-board-container {
 
  display: flex;
  flex-direction: column;  
  overflow: hidden;
  overflow-y: scroll;
}

.bikes-board-items {
  width: 50%;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.015em;
}

.footer-container {
  width: 100%;
  position: fixed;
  display: block;
  background-color: #f3e5f5;
  border: 1px solid #ab47bc;
  height: 4%;
  bottom: 0;
}